.card-group {
    position: relative;
    height: 53.25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    float: left;
}

.card-group::before, .card-group::after {
    content: "";
    display: table;
}

.card-group::after {
    clear: both;
}

.card {
    position: relative;
    float: left;
    width: 37.8px;
    height: 53.25px;
    border: solid 1px;
    border-radius: 3px;
}

.card .text {
    text-align: center;
    font-size: 15px;
}

.mahjongTable {
    position: relative;
    min-width: 1000px;
}

.action-group {
    position: relative;
    width: 100%;
    min-height: 50px;
}

.action-group::before, .action-group::after {
    content: "";
    display: table;
}

.action-group::after {
    clear: both;
}

.action {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 90%;
    display: table
}

.action-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.playerTable {
    position: relative;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.playerCards {
    position: relative;
    float: left;
    padding: 20px;
}